/.idea/.gitignore
/run/
/.gradle/
/.idea/
/build/
/src/main/resources/assets/minecraft/textures/entity/player/slim/alex.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/alex.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/ari.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/ari.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/efe.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/efe.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/kai.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/kai.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/makena.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/makena.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/noor.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/noor.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/steve.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/steve.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/sunny.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/sunny.png
/src/main/resources/assets/minecraft/textures/entity/player/slim/zuri.png
/src/main/resources/assets/minecraft/textures/entity/player/wide/zuri.png
/src/main/generated/.cache/
